.topics-container{
    width: 100%;
    position: absolute;
    right: 0;
}
.header>.tab-options{
    justify-content: right;
}

#topics{
    display: flex;
    flex-wrap: wrap;
}

#quiz{display: flex}

#addItem{margin: 2vh 1vw ;}