.interviewer-profile{
    width: 100%;
}

.int-profile-container{
    width: 80% !important;
    min-height: 55vh;
    height: auto;
    margin: 5vh 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.left-profile{
    padding: 7vh 2vw;
}

.left-profile>img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 2vh;
}

.left-profile>p{
    margin: 10px 0;
    color: rgb(13, 39, 117);
    font-size: 1.1rem;
}

.interviewer-profile>.header>.tab-options{
    justify-content: right;
}

.interviewerProfileHeading{
    font-size: 1rem;
    color: grey;
    margin: 2vh 0;
}

.int-profile-form{
    width: 90% !important;
    height: auto;
    min-height: 55vh;
    margin: 5vh auto;
    padding: 4vw 5vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.right-profile{
    width: 50vw !important;
        padding: 7vh 2vw;
        padding-left: 0 !important;
}

.rating{
    display: flex;
    align-content: center;
}

#about>p{word-wrap: normal;}

.rating>i{margin: 0 0.2vw;}

@media only screen and (max-width:1024px){
    .int-profile-container{
        width: 98% !important;
    }
    .left-profile{
        width: 30vw !important;
        padding: 7vh 1vw;
    }
    .right-profile{
        width: 50vw !important;
    }
    
 
}

@media only screen and (max-width:768px){
    
    .interviewer-profile>.header>.tab-options>#toggleBtn{margin-left: 2vw;}
    .left-profile{
        width: 40vw !important;
        padding: 7vh 1vw;
    }
    .right-profile{
        width: 60vw !important;
    }
}

@media only screen and (max-width:450px){
    
    .int-profile-container{
        width: auto !important;
        padding: 4%;
       grid-template-columns: 1fr !important;

    }

    .left-profile{width: 98vw !important;padding:0 !important;}
    .right-profile{width: 98vw !important;padding:0 !important;}
    
}


