.landing-page{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

#landing-container{
    width: 100%;
    margin: 5vh auto;
    box-sizing: border-box;
}

.title{
    text-align: center;
    color: #161280;
}