.landing-page{
    width: 99vw;
    height: auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 10vh 0;
    text-align: center;
}

#mainButton{width: auto !important;}

.headline{
    color: rgb(31, 58, 139);
}

.light-pointers{
    color:grey;
    font-size: 0.8rem;
    margin: 25px;
}

.heading{  color: rgb(31, 58, 139);}

.landing-dashboard{
    width: 65vw;
    min-height: 60vh;
    height: auto;
    margin: 5vh auto;
}
 

/* Laptop */
@media only screen and (max-width: 1080px) {
    .interviewer-list{width:80vw !important;justify-content: space-around !important;}
    .sell-pointer{width: 80vw !important;justify-content: space-around !important;}
    .pointer{min-height: 12vh !important;}
    .landing-dashboard{width: 70vw !important;justify-content: space-around !important;}
    .package-details{width: 80% !important;justify-content: space-between !important;}
    .package{width: 25vw !important;}
    .testimonial{width: 80vw !important;}
}

/* Tab */
@media only screen and (max-width: 768px) {
    #headerLogo{width: 20vw !important;height: 100% !important;}
    #brand-logo{width: 20vw !important;align-self: center !important;}
    #headerItems{width: 80% !important;}
   
    .sell-pointer{width: 90vw !important;justify-content: space-around !important;}
    .pointer{min-height: 12vh !important;width: 40vw !important;margin: 2vh 0 !important;}
    .landing-dashboard{width: 80vw !important;justify-content: space-around !important;}
    .landing-cards>.card {height: auto;width: 25vw;}
    .landing-charts {margin: 8vh 0 !important;}
    .package-details{width: 90% !important;justify-content: center !important;flex-wrap: wrap !important;}
    .package{width: 40vw !important;margin: 4vh 2vw;}
    .testimonial{width: 90vw !important;}
    footer {padding: 2vh 2vw !important};
    .person{width: 25vw !important;}
    .person>.profile{width: 80% !important;}
}

/* Mobile */
@media only screen and (max-width: 430px) {
  
   .headline{font-size: 0.9rem !important;}
   .interviewer-list,.sell-pointer, .landing-charts,.landing-cards,.landing-bar,.landing-doughnut, .package-details{display: grid !important;}
   .person{width: 40vw !important;}
   .pointer{width: 80vw !important;}
   .headline{font-size: 1.3rem !important;}
   .headerItems{display: grid !important;width: 100vw !important;}
   .card,.landing-bar,.landing-doughnut{width: 80vw !important;margin: 3vh 2vw !important;}
   .package,.landing-charts{width:65vw !important;}
   .package>#mainButton{width: 60vw !important;}
   .testimonial{display: grid !important;text-align: center !important;width: 70vw !important;height: auto !important;}
   .test-profile{margin: auto !important;}
   

}