.person{
    width: 45vw;
    margin: 0 1vw;
    padding: 1vw;
    text-align: left;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

#pricing-ben{padding: 0;list-style-type: none;}
#pricing-ben>li{color: rgb(24, 49, 124);}
#pricing-title{color: rgb(24, 49, 124);font-size: 1.1rem;}
#pricing-price{color: rgb(24, 49, 124);font-size: 1.5rem;}
#pricing-description{color: grey;font-size: 1rem;}
.choose{margin-left: 12% !important;}

.person:hover {background-color: rgb(24, 49, 124);color: white !important;}
.person:hover #pricing-title{color: white;}
.person:hover #pricing-description{color: white;}
.person:hover #pricing-price{color: white;}
.person:hover #pricing-ben>li{color: white;}
.person:hover .choose{border-color: white !important;color: white;}

@media only screen and (max-width:1440px) {
    .package-detail{width: 80%;}
    .person{width: auto;margin: 1vw;}
}

@media only screen and (max-width:1024px) {
    .package-detail{width: 98%;}
    .person{width: auto;margin: 1vw;}
}

@media only screen and (max-width:768px) {
    .package-detail{width: 90%;display: grid;grid-template-columns: 1fr 1fr 1fr;}
    .person{width: auto;margin: 2vh 1vw;}
}


@media only screen and (max-width:450px) {
    .package-detail{width: 90%;display: grid;grid-template-columns: 1fr;}
    .person{width: 60vw;margin: 2vh auto;padding: 2vw;}
    .pricing-header{margin: 5vh 0;}
}