.personCard{
    width: 20vw;
    height: auto;
    margin: 20px 10px;
    text-align: center;
}

#profile{
    width: 10vw;
    border-radius: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.designation-text{
    color:grey;
    margin: 1vh 0;
}

.bold-text{
    color: #161280;
    margin: 1vh auto;
    font-size: 1.2rem;
}

.person{
    height: auto !important;
}