#sell-pointer{
    width: 100%;
    height: auto;
    margin: 7vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pointer:hover{
    transform:scale(1.1);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    color: #161280 !important;
    border-color: #161280 !important;
}

#pointer{
    position: relative;
    width: 30vw;
    height: auto !important;
    min-height: 10vh;
    border-radius: 20px;
    text-align: center;
    border: 1px solid lightgrey;
    margin: 20px 20px;
    color: #161280;
}

#point{margin: 0 10px;
    position: absolute;
    top: 25%;
}

.far,
.fas{margin: 0px 10px; font-size: 1.5rem;}