.package-detail{
    width: 95vw;
    height: auto;
    margin: 10vh auto;
    display: flex;
    justify-content: space-around;
}

.pack{
    text-align: left;
    min-height: 30vh;
    height: auto;
}

.pack>h2{color: rgb(32, 69, 179);}

@media only screen and (max-width:430px) {
    .package-detail{
        display: grid;
        justify-content: left;
        padding: 3vw ;
        height: auto !important;
    }
}