.package-detail{
    width: 75vw;
    height: auto;
    min-height: 50vh;
    margin: 10vh auto;
    display: flex;
    justify-content: space-around;
}


.pack>h2{color: rgb(32, 69, 179);}
.pricing-header{margin: 4vh auto;color: rgb(8, 25, 73);width: 30vw;text-align: center;}
