.quiz-container{
    width: 82.5vw;
    position: absolute;
    right: 0;
}

.quiz-list{
    width: 85%;
    margin:  5vh auto ;
    display: flex;
    justify-content: space-between;
}

.quiz-card{
    margin: 10px !important;
}