footer{
    width: 100%;
    height: auto;
    display: grid;
    padding: 2vh 17vw;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(24, 50, 128);
  
}

footer>section>img{
    width: 13vw;
    border-radius: 10px;
}

footer>section>p{
    color: white;
    margin: 5vh;
    margin-bottom: 0 !important ;
}

footer>section>h2{
    color:white;
    text-align: left;
}

footer>section>ul{
    display: grid;
    padding: 0;
}

footer>section>ul>.link{

    color: white !important;
    list-style-type: none;
    text-align: left;
    padding: 2vh 0;

}

footer>section:nth-child(1)>p{
    margin-left: 0;
}
footer>p{
    text-align: center;
    color: white;
}

@media only screen and (max-width:1024px){
    footer{
        padding: 2vh 2vw !important;
    }
 }

 @media only screen and (max-width:768px){
    footer{
        padding: 2vh 2vw !important;
    }

    footer>section>ul>.link{
        padding: 1vh 0;
        margin: 0;
    
    }
 }

 @media only screen and (max-width:768px){
    footer{
        display:block;
    }
    footer>section{
        margin-bottom: 7vh!important;
    }

    footer>section>img {width: 40vw !important;}

 }