.logo-img{
    width: 17.5vw;
}

.sidenav{
    width: 17.5vw;
    height: 100vh;
    position: fixed;
    left: 0;
    border-right: 1px solid rgb(228, 228, 228);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar-list{
    list-style-type: none;
    padding: 0;
    padding-left: 3vw;
}

.sidebar-list-item{
    margin: 5vh 0px;
    color:grey;
    display: flex;
    justify-content: left;
    text-decoration: none;
}

.sidebar-list-item:hover,.sidebar-list-item:active,.sidebar-list-item:focus{
    border-right: 2px solid rgb(11, 33, 100);
}

.icon{
    margin: 0px 10px;
}

.admin{
    margin-top: 10vh;
}