.header{
    width: 81.5vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    vertical-align: middle;
    border-bottom: 1px solid lightgray;

}

.tab-title{display: flex;color: grey;}