#leaderboard {
  width: 94%;
  margin: 2vh auto;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.top {
  border-bottom: 1px solid lightgray;
  color: rgb(92, 92, 92);
  text-align: left;
  padding: 10px;
}

.total-earning > .bottom {
  color: rgb(92, 92, 92);
  display: block;
  padding: 10px;
  margin: 0;
  text-align: left;
}

.total-earning {
  width: 20vw;
  height: auto;
  margin: 3vh 0;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cust-review {
  width: 52vw;
  height: 40vh;
  overflow-y: scroll;
  margin: 3vh 3vw;
  margin-left: 0 !important;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  overflow-y: scroll;
  text-align: left;
}

.review-container {
  display: flex;
  justify-content: space-between;
  margin: 0vh 0px 2vh 0;
  padding: 1vh;
  border-bottom: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.review-container > span > img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.top > #tag {
  margin-top: 1vh !important;
}

.action-items {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 20vw;
  padding: 10px;
  min-height: 23vh;
  margin: 2vh auto;
}

#action {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 1vh auto;
  border: 1px solid lightgrey;
}

@media only screen and (max-width: 768px) {
  #leaderboard {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cust-review {
    width: 70vw;
  }
  .action-items {
    width: 70vw;
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  #leaderboard {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cust-review {
    width: 90vw;
    margin: 2vh auto;
  }
  .action-items {
    width: 90vw;
    margin: 0;
  }
}
