.signInBox{
    width: 25vw;
    height: auto;
    margin: 10vh auto;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.SignIn{
    height: 60vh;
    widows: 100vw;
}


.JoinUsButton{
    width:20vw !important;
    padding: 0.5vw auto !important;
}

.signInBox>img{
    width: 17vw;
    height: 10vh;
}

.ant-tabs-nav-wrap{
    width:20vw !important;
    justify-content: center;
}

.dummy{
    margin: 3vh 0 !important;
}

.google-login-button{
    background-color: white;
    border: none;
    margin: 2vh 0;
}

.dummy>.btn,.sign-btn{
    width: 10vw !important;
}

.dummyButtons{
    display: block;
}

.dummybtn{
    width: 80% !important;
    margin: 2vh 0;
    
}

.dummyToggle{
    width: 10vw;
}



#signBtn>.JoinUsButton{
    margin: 6vh auto;
}