.interviewerList{
    width: 83.5;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}


.interviewers{
    width: 90%;
    height: auto;
    margin: 10vh auto;

}

.skill{
    overflow-x: hidden;
}

.interviewer{
    border: 1px solid lightgray;
    margin: 10px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: space-between;
}

.int-profile{border-radius: 100%;border: 1px solid rgb(0, 55, 128);}

.int-detail{text-align: left;margin-left: 2vw;color: gray;}

.skill{display: flex; color: rgb(0, 55, 128);}
.skills{width: 30%;}
.btn{
    margin: 5vh 0px;
}

.btn2{
    background-color: orangered !important;
    color:white !important;
    border-color: white;
}


.btn3{
    background-color:green !important;
    color:white !important;
    border-color: white;
}

.btn{background-color: royalblue;}
.contact>p>i{font-size: 0.8rem;margin-left: 0;margin-right: 10px;}

.contact,.info{color: rgb(0, 55, 128);}
.contact{width: auto;}
.select{
    max-width: 30vw;
    overflow-x: hidden !important;
}

.search{
    display: flex;
    margin-left: 2vw;
}