.student-profile{
    width: 83.5;
    position: absolute;
    right: 0;
    box-sizing: border-box;

}

.right-profile>.about{
    height: auto !important;
}

.int-profile-container{
    height: 70vh !important;
}

.skill-chips{
    margin: 4vh 0 !important;
}

.rating{
    margin-top: 3vh !important;
}