.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  vertical-align: middle;
  border-bottom: 1px solid lightgray;
  align-items: center;
  margin: 0;
}

.tab-title {
  font-size: 1.2rem;
  display: flex;
  color: grey;
}

#toggleBtn {
  margin-left: 2vw;
  display: none;
}

@media only screen and (max-width: 1024px) {
  #toggleBtn {
    display: block;
  }

  .tab-options {
    display: flex;
    justify-content: right;
  }
}

@media only screen and (max-width: 768px) {
  .tab-title {
    width: 50vw !important;
  }

  .tab-options {
    justify-content: right;
  }
}

@media only screen and (max-width: 450px) {
  .tab-title {
    width: 80vw !important;
  }

  .tab-options > .ant-input-search {
    display: none;
  }
}
