.Join {
    width: 98.5vw;
    height: auto;

}

.signBox{
    width: 25vw;
    height: 60vh;
    margin: 10vh auto;
    border-radius: 10px;
    border: 1px solid grey;
}

.signBox>img{width: 13vw;}

.sign-btn{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 10px !important;
}