.adminLogin{
    height : 100vh;
    display : flex;
    align-items : center;
    justify-content : center;
}
.login-box{
    border-right : 2px rgb(44, 122, 158) solid;
    border-left : 2px rgb(44, 122, 158) solid;
    padding : 4%
}