.dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;

}

.sideNav{
    width: 17.5vw;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
}

.mainContainer{
    width: 82vw;
    min-height: 100vh;
    position: absolute;
    right: 0;
}