.landing-dashboard{
    width: 80%;
    margin: 6vh auto;
}

.landing-cards>.card{
    height: auto;
    margin: 0 0.5vw;
    border-left: 1px solid rgb(11, 32, 94);
}

.landing-cards>.card>.bottom{
    margin: 0 !important;
}

.landing-cards{
    display: flex;
    justify-content: center;
}

.landing-bar{
   
    padding: 15px;
    width: 35vw;
}

.landing-charts{
    margin: 10vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.landing-doughnut{
    padding: 15px;
    width: 18vw;
    margin: 0 4vw;
}

.graphTitle{color: rgb(25, 48, 117);}

@media only screen and (max-width:1024px){
    .landing-cards{
       justify-content: space-between;
       margin: auto;
    }

    .landing-bar{
        width: 45vw;
    }
    .landing-doughnut{
        width: 25vw;
    }
 }
 
 @media only screen and (max-width:768px){
     .landing-charts{display: block;}
    .landing-bar{width: 100%;}
    .landing-doughnut{width: 55%;}
 }
 
 @media only screen and (max-width:450px){
     .landing-cards{display: block;}
     .landing-cards>.card{width: 90%;margin: 2vh auto;}
     .graphTitle{font-size: 1.1rem;}
     .landing-doughnut{width: 100%;}
     .onboard-chart{height: 25vh !important;width: auto;}
     .resources-chart{height: 25vh !important;width: 25vh !important;}
}