.landing-cards>.card{
    height: auto;
    border-left: 1px solid rgb(11, 32, 94);
}

.landing-cards>.card>.bottom{
    margin: 0 !important;
}

.landing-cards{
    display: flex;
    justify-content: space-between;
}

.landing-bar{
    width: 60%;
    height: auto;
    border: 1px solid lightgrey;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.landing-charts{
    margin: 15vh 0;
    display: flex;
    justify-content: space-between;
}

.landing-doughnut{
    width: 30%;
    border:1px solid lightgrey;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}