#introduction {
  width: 100vw;
  height: 85vh;
  background-image: url("https://res.cloudinary.com/mock-prep/image/upload/v1640397494/Mockprep/Banners/Orange_and_Brown_Nurse_Clinical_Friendly_Vaccine_Information_General_Health_Banner_pil73a.gif");
  background-size: cover;
  background-position: right;
  position: relative;
}

#banner-text {
  width: 40vw;
  height: auto;
  margin: 15vh 2vw;
}

#highlight {
  color: rgb(25, 50, 100);
}

#banner-text > p {
  font-size: 1rem;
  color: grey;
}

.join-btn {
  width: 10vw;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    width: 100vw;
    z-index: 9;
    opacity: 1;
  }

  #introduction {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/mock-prep/image/upload/v1640424837/Mockprep/Banners/Cream_and_Brown_Geometric_Pattern_Event_-_Celebration_Diwali_Poster_1_kwzcxg.gif");
  }
  #banner-text {
    width: 98vw;
    margin: 4vh auto;
    text-align: center;
  }
  #banner-text > p {
    width: 90vw;
    text-align: center;
    margin: auto;
  }
  .join-btn {
    width: 20vw !important;
    margin-top: 5vh;
  }
  #banner-text {
    position: absolute !important;
    top: 10vh;
  }
}

@media only screen and (max-width: 450px) {
  #banner-text {
    width: 100vw;
    margin: 4vh auto;
    text-align: center;
  }

  #join-button {
    display: grid;
  }

  .join-btn {
    width: 30vw !important;
    margin: 2vh 0 !important;
  }
}
