.main-header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;  
    border-bottom: 1px solid lightgrey;
}

.headerLogo{
    width : 10%
}

.headerItems{
    width : 40%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color : #1F4682;
    font-weight:light;
    font-size: 1rem;
}

.brand-logo{
    width: 12vw;
}