#topicCard{
    width: 14vw;
    height: auto;
    margin: 2vh 1vw;
    padding: 2vh 0;
    border-radius: 10px;
    border: 1px solid lightblue;
    text-align: center;
}

#cardImage{
    width: 7vw;
    margin: auto;
    height: 7vw;
}

#topics-btn{
    margin: 2vh;
}

#topicCard:hover .anticon-delete{
    display: block !important;
}

#topicCard:hover .anticon-edit{
    display: block !important;
}

#topicCard>.ant-card-body>.icon>.anticon-delete{
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    color: grey !important;
    display: none;
}

.anticon-edit{
    position: absolute !important;
    top: 10px !important;
    right: 45px !important;
    color: grey !important;
    display: none;
}

#btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    margin-top: 15vh;
}
