#logo{width: auto;height: 50px;}
#main-header{margin: 0;}
#profileImage{width: 50px;height: 50px;border-radius: 100%;margin: 10px;}
#toggle,.signIn{margin-right: 2vw !important;}

.container-fluid{padding: 0;}
.navbar{margin: 0 !important;background-color: transparent !important;}
.navbar-toggler-icon{color: white;}
.link{font-size: 1.15rem;margin: 0 4vw 0 0vw;color: slategray;}
.link:hover{color: red;text-decoration: underline;text-underline-offset :5px}


@media only screen and (max-width:968px){
    #responsive-navbar-nav{padding-left:4vw;}
    .navbar-collapse {
        width: 100vw;
        height: auto;
        z-index: 1;
        background-color: rgb(255, 233, 233);  
        padding: 2vh 0;   
        animation: 1s slide linear .1s;
    }

    .link{color: cadetblue !important;margin: 2vh 0;}
}

@media only screen and (max-width:768px) {
   
}

@media only screen and (max-width:430px){
    #responsive-navbar-nav{padding-left:6vw;}
}

@keyframes slide {
    0% {height: 10vh;}
    100% { height: 100vh;background-color: skyblue; }
}
