.JoinUsButton{
    display: flex;
    justify-content: center;
    width: 22vw;
    border: 1px solid lightgrey;
    align-items: center;    
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.JoinUsLogo{
    padding-right: 25px;
}

.JoinUsLogo>.icon{ border-radius: 100% !important;}

.JoinUsText{
    align-items: center;
}

@media only screen and (max-width:768px) {
    .JoinUsButton{
        width: 32vw !important;
    }
}

@media only screen and (max-width:430px) {
    .JoinUsButton{
        width: 62vw !important;
    }
}

