.Join {
    width: 98.5vw;
    height: auto;
}

.signBox{
    width: 25vw;
    height: 60vh;
    margin: 10vh auto;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
}

.signBox>img{width: 13vw;}

.sign-btn{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 10px !important;
}


@media only screen and (max-width:768px) {
    .signBox{
        width: 35vw !important;
    }
}

@media only screen and (max-width:430px) {

    .Join{height: auto !important;}
    .signBox{
        width: 75vw !important;
        padding-top: 2vh;
        margin: 10vh auto !important;
    }
    .signBox>img{width: 40vw;}
}

