.interviewer-profile{
    width: 100%;
}

.int-profile-container{
    width: 90% !important;
    min-height: 55vh;
    height: auto;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.left-profile{
    padding: 7vh 2vw;
}

.left-profile>img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 2vh;
}

.left-profile>p{
    margin: 10px 0;
    color: rgb(13, 39, 117);
    font-size: 1.1rem;
}

.interviewer-profile>.header>.tab-options{
    justify-content: right;
}

.interviewerProfileHeading{
    font-size: 1rem;
    color: grey;
    margin: 2vh 0;
}

.about{
    height: auto;
    width: 95%;

    position: relative;
    word-wrap:normal;
    display:flex;
}

.about>p{
    width: 95%;
    word-wrap: break-word;
}

.rating{
    display: flex;
    align-content: center;
}

.skill-chips{
    display: flex;
}

.interviewer-profile>.header>.tab-options{
    padding: 0 2vw !important;
}

.rating>i{margin: 0 0.2vw;}

@media only screen and (max-width:1024px){
    .int-profile-container{
        width: 98% !important;
    }
    .left-profile{
        padding: 7vh 1vw;
    }
 
}

@media only screen and (max-width:768px){
    
    .interviewer-profile>.header>.tab-options>#toggleBtn{margin-left: 2vw;}
    
}


@media only screen and (max-width:450px){
    
    .int-profile-container{
        width: auto !important;
        padding: 4%;
       grid-template-columns: 1fr !important;

    }

    .left-profile{width: 98vw !important;padding:0 !important;}
    .right-profile{width: 98vw !important;padding:0 !important;}

    .interviewerListContainer>.header>.tab-options>.btn{
        font-size: 0.8rem;
        width: 40vw !important;
    }
    
}


