#modal{
       width: 50vw;
        height: 40vh !important;
   }

#body{
    height: 40vh ;
}

#closeBtn{
    font-size: 1.5rem;
}

#modalHeader{
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
}