.admin-dashboard-charts{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#earningChart{
    width: 45%;
    height: 37vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1vw;
    margin: 0;
    margin-right: 1vw; 
}
#resourceChart{
    width: 19vw;
    height: 37vh;
    padding: 1vw; 
    margin: 0;
    margin-right: 1vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.chartHeader{color:rgb(23, 50, 131);font-size: 1.3rem;}
#resourceChart2{
    width: 19vw;
    height: 37vh;
    padding: 1vw; 
    margin: 0;
    margin-right: 1vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.trendingChart{width: 170px !important;height: 150px;}

 