.admin-dashboard-charts{
    display: grid;
    margin: 10vh 2vw;
    grid-template-columns: 2fr 1fr;  
}

.earning-chart{
    width: 90%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 1vw; 
}
.resourceChart{
    width: 22vw;
    height: 100%;
    padding: 1vw; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.headline{color:rgb(16, 38, 105)}