.interviewerList {
  width: 97%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.interviewerTabContainer {
  width: 100%;
  height: auto;
  margin: 5vh 1vw;
}

.cardContainer {
  width: auto;
  height: 40vh !important;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 450px) {
  .interviewerList {
    height: auto !important;
  }
}
