.package-details{
   width: 80%;
   margin: 10vh auto;
   display: flex;
   justify-content: center;
}




@media only screen and (max-width: 1024px) {
   .package-details{width: 90% !important}
}

@media only screen and (max-width: 768px) {
   .package-details{width: 100% !important;margin: 5vh auto;}
}


@media only screen and (max-width: 450px) {
   .package-details{display: block;}
}