.package{
    width: 20vw;
    height: 55vh;
    border: 1px solid lightgrey;
    background-color: white !important;
    padding: 5vh 2vw;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: left;
}

.package-details{
    width: 70%;
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
}