.contact {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#contactForm {
  width: 50vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid grey;
  margin: 5vh auto;
  position: relative;
}

#info {
  background-image: url("https://res.cloudinary.com/mock-prep/image/upload/v1640983941/Mockprep/Uilities/res-console.cloudinary_bmts6k.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 2vw;
  color: white;
}

#info > h3 {
  color: white;
}

#query {
  padding: 2vw;
}

#contactform > .btn {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  #contactForm {
    width: 70vw;
  }

  #contactform {
    margin: 1vw;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    height: auto;
  }
  #contactForm {
    width: 90vw;
  }
}

@media only screen and (max-width: 450px) {
  #contactForm {
    display: block;
  }
}
