#interview-details-dashboard{
    width: 98%;
    margin: 2vh auto;
    height: auto;
    padding: 1vw;
    display: flex;
    grid-template-columns: 1.5fr 1fr;
    justify-content: left;
   
}

#upcomingInterviews{
    width: 55%;
    height: auto;
    margin: 0vh 0vw;
    padding: 16px;
    overflow-y: scroll;
    text-align: left;
}

.title{
    color: goldenrod;
    display: flex;
    justify-content: space-between;
}

#upcomingList{
    width: 100%;
    min-height: 30vh;
    height: auto;
    margin: 2vh 0;
    padding: 1vh;
    border-radius: 10px;
    /* background-color: rgb(13, 35, 102); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: white;
    max-height: 40vh;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    
}

#interviewInfo{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 1vw 2vh;
    height: auto;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid goldenrod;

}

#interviewInfo:hover{
    border: 1px solid red;
}

#date{display: inline-flex;justify-content: space-between;}

p{
    margin: 0;
}

.calender{margin-right: 0.5vw;}

#previousInterviews{
    margin-left: 10vw;
}