.form-input{
   display: block;
   width: 100%;
}

.form{
    width: 100%;

}

.about{
    width: 100% !important;
    height: 10vh !important;
    margin: 2vh 0;
}

.submit{
    background-color: royalblue !important;
    color: white !important;
    text-align: center;
    /* margin-left: 35% !important; */
}