
.interview-details{
    width: 90%;
    margin: auto;
    padding: 0;
    height: auto !important;
}

@media only screen and (max-width:430px) {
    .interview-details{
        display: none;
    }
}