.interviewerListContainer{
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
}

.interviewers{
    padding: 2vw;
}

#interviewIn{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 1vw auto;
    height: auto;
    padding: 15px 15px;
    border-radius: 10px;
    border: 1px solid goldenrod;
    margin-left: 0 !important;
    width: 55%;

}

#date{display: inline-flex;justify-content: space-between;}

p{
    margin: 0;
}

.calender{margin-right: 0.5vw;}

#previousInterviews{
    margin-left: 10vw;
}

