footer{
    width: 98.5vw;
    margin: 0 auto ;
    padding: 2vw 10vw !important;
    background-color: rgb(18, 39, 102);
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    gap:5vw;

    position: relative !important;
    bottom: 0;
}

footer>section>img{
    width: 13vw;
    border-radius: 10px;
}

footer>section>p{
    color: white;
    margin: 5vh;
    margin-bottom: 0 !important ;
}

footer>section>h2{
    color:white;
    text-align: left;
}

footer>section>ul{
    color: white;
    list-style-type: none;
    text-align: left;
    padding: 0;
}

footer>section>ul>li{
    margin: 4vh 0;
}