#sideNav{
    height: 100vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo-img{
    width: 90%;
}

.sidebar-list{
    list-style-type: none;
    padding: 0;
    padding-left: 3vw;
}

.sidebar-list-item{
    margin: 5vh 0px;
    padding: 1vh 1vw;
    color:grey;
    display: flex;
    justify-content: left;
    text-decoration: none;
    vertical-align: middle;
}

.sidebar-list-item:hover,.sidebar-list-item:active,.sidebar-list-item:focus{
    background-color: rgb(9, 30, 92);
    color: white;
}

.icon{
    margin: 0px 10px;
}

#logoutBtn{
    width: 80%;
    background-color: rgb(9, 30, 92);
    color: white;
    padding: 10px;
    margin: 0 1vw;
}

#admin{
    justify-content: left;
    width: 60%;
    margin: 2vh auto;
    margin-top: 10vh;
    color: rgb(9, 30, 92);
    display: flex;
}

.btnlogo{
    width: 10vw !important;
}

#logout-btn{
    color:white !important;
}

