.headerLogo{
    width: 10vw;
    height: 7vh;
    
}

.quiz{
    width: 100vw;
    height: 90vh;
    
}

#head{
    display: flex;
}

#head>p{
    margin: 0;
    margin-top:15px;
}

.tab-options{
    justify-content: right !important;
}

.quiz>.header{
    display: flex;
    padding: 10px 20px ;
}

#slides{
    width: 70vw;
    margin: 5vh auto;
    height: 70vh;
    display: grid;
    grid-template-columns: 2.7fr 1fr;
    gap: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

#slideCard{
    height: 70vh;
    padding:10px;
    margin: auto;
    border-radius: 1%;
   
}

#question{
    font-size: 2rem;
    margin: 1vh 1vw;
}

#navigationBtn{
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding-left: 1vw;
}

#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vh 0;
}

.trophy{
    width: 100px !important;
    height: 100px;
}

#prog>.ant-progress-inner {
    width: 60px !important;
    height:60px !important;
    font-size: 20px !important;

}
#score{
    height: 40vh;
}
.alertQuiz{
    margin: 5vh 1vw;
}

#next{
    margin-left: 2vw;
}

.options{
    width: 30vw;
    border-radius: 3%;
    margin: 2vh;
    padding: 7px 15px;
    text-align: left;
    color: black;
    border: 1px solid rgb(0, 37, 36);
    background-color: rgb(221, 223, 255);
}

.options:hover{
    background-color: rgb(255, 187, 187);
}

.ant-checkbox-wrapper{
    padding: 3px 10px;
    margin:2vh 1vh;
}

#navHead{
    display: flex;
    justify-content: left;

}

#circle{
    margin: 2px 4px;
}

#collapse{
    padding: 0px;
    text-align: left;
    margin: 2vh 0;
}
.ant-progress-inner{
    width: 30px !important;
    height: 30px !important;
    font-size: 10px !important;
    margin: 6px 10px;
}

#nav{
    padding:10px;
    background-color: white;
    height: auto;
}

#info{
    width: 10vw;
    display: block;
    height: auto;
}

#navHead>h3{margin-left: 1vw;}

#navHead>h3>p{font-size: 0.9rem;font-weight: lighter;}

#quizNavigator{
    width: 20vw;
    height: 70vh;
    margin: 0;
    background-color: rgb(221, 223, 255);
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    padding: 10px;
}

#quizImage{
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}